
@media (min-width: 1024px) {
    .course-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    .about {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .student-photo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .certificate-courses {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}